#root,
#modal {
  --container-color: rgba(255, 248, 248, 0.65);
  --shadow-color: rgba(31, 38, 135, 0.37);
  --border-color: rgba(255, 255, 255, 0.18);
  --font-family: "Mulish", sans-serif;
  --text-color: #264061;
  --color-white: #ffffff;
  --color-link: #0000cd;
  --transition: all 250ms linear;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
