body {
  background: -webkit-linear-gradient(
    0deg,
    rgb(168, 24, 236) 24%,
    rgb(55, 61, 251)
  );
  background: -moz-linear-gradient(
    0deg,
    rgb(168, 24, 236) 24%,
    rgb(55, 61, 251)
  );
  background: linear-gradient(0deg, rgb(168, 24, 236) 24%, rgb(55, 61, 251));
  height: 100vh;
  background-size: contain;
}
